<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Movie Collection</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <h1 class="h3 mb-3 font-weight-normal">Add Movie</h1>
    <form th:action="@{/addMovies}" th:object="${movie}" th:method="post">
        <label>Movie name</label>
        <input type="text" id="movieName" placeholder="Movie Name" th:field="*{movieName}" class="form-control"/><br/>
        <td th:if="${#fields.hasErrors('movieName')}" th:errors="*{movieName}"></td>

        <label>Genre</label>
        <input type="text" id="genre" placeholder="Genre" th:field="*{genre}" class="form-control"/><br/>
        <td th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></td>

        <label>Language</label>
        <input type="text" id="language" placeholder="Language" th:field="*{language}" class="form-control"/><br/>
        <td th:if="${#fields.hasErrors('language')}" th:errors="*{language}"></td>

        <label>Info</label>
        <input type="text" id="info" placeholder="info" th:field="*{info}" class="form-control"/><br/>
        <td th:if="${#fields.hasErrors('info')}" th:errors="*{info}"></td>


        <label>Release Year</label>
        <input type="text" id="releaseYear" placeholder="Release Year" th:field="*{releaseYear}" class="form-control"/>
        <br/><td th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}"></td>

        <button type="submit" class="btn btn-success text-center form-control">Add</button>
    </form>
    <div class="margin-top20 text-center"><a th:href="@{/movies}">Go to Movie List</a></div>
</div>

</body>
</html>