<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Collection</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <strong>Login is successful. Welcome.</strong>
    <div class="margin-top20 text-center"><a th:href="@{/movies}">Movies</a></div>
    <div class="margin-top20 text-center"><a th:href="@{/addMovie}">Add Movie</a></div>
    <footer>
        <a href="/logout" class="btn btn-danger">Logout</a>
    </footer>
</div>
</body>
</html>